@font-face {
	font-family: 'Switzer-Regular';
	src: local('Switzer-Regular'), url('../assets/fonts/Switzer-Regular.woff2') format('woff2');
				font-weight: 400;
				font-display: swap;
				font-style: normal;
}
@font-face {
	font-family: 'Switzer-Bold';
	src: local('Switzer-Bold'), url('../assets/fonts/Switzer-Bold.woff2') format('woff2');
				font-weight: 700;
				font-display: swap;
				font-style: normal;
}