:root{
--br-large: 10px;
--star-rating: #f5be41;
--like-button: #e25550;

--box-shadow-light: 0px 3px 20px rgb(228, 227, 223);
--box-shadow-heavy-light: 0px 3px 10px rgb(201, 201, 198);
--text-light: #29292a;
--webback-light: white;
--primarybutton-light: #f5be40;
--secondarybutton-light: #efeef1;
--pageback-light: #fbfbfc ;
--reviewback-light: #efeef1;
--border-light: #e3e3ea;
--outline-light: #b8b8c0;
--ratingwrapper-light: #efeef1;
--place-light: white;
--topbar-light:white;
--sync-light: rgba(255, 255, 255, 0.8);
--homebar-light: white;

--box-shadow-dark: 0px 3px 20px rgb(50, 50, 52);
--box-shadow-heavy-dark: 0px 3px 10px rgb(57, 57, 61);
--text-dark: white;
--webback-dark: black;
--primarybutton-dark: #b49140;
--secondarybutton-dark: rgb(25, 25, 27);
--pageback-dark: black;
--reviewback-dark: rgb(25, 25, 27);
--border-dark: rgb(43, 43, 46);
--outline-dark: #45454b;
--ratingwrapper-dark:black;
--place-dark:black;
--topbar-dark: rgb(17, 17, 18);
--sync-dark: rgba(0, 0, 0, 0.8);;
--homebar-dark:rgb(17, 17, 18);
}

@media(prefers-color-scheme: dark){
    :root{
        --box-shadow: var(--box-shadow-dark);
        --box-shadow-heavy: var(--box-shadow-heavy-dark);
        --text: var(--text-dark);
        --webback:  var(--webback-dark);
        --primarybutton: var(--primarybutton-dark);
        --secondarybutton: var(--secondarybutton-dark);
        --pageback: var(--pageback-dark);
        --reviewback: var(--reviewback-dark);
        --border: var(--border-dark);
        --outline: var(--outline-dark);
        --ratingwrapper: var(--ratingwrapper-dark);
        --place: var(--place-dark);
        --topbar: var(--topbar-dark);
        --sync: var(--sync-dark);
        --homebar: var(--homebar-dark);
        }
} 
@media(prefers-color-scheme: light){
    :root{
        --box-shadow: var(--box-shadow-light);
        --box-shadow-heavy: var(--box-shadow-heavy-light);
        --text: var(--text-light);
        --webback:  var(--webback-light);
        --primarybutton: var(--primarybutton-light);
        --secondarybutton: var(--secondarybutton-light);
        --pageback: var(--pageback-light);
        --reviewback: var(--reviewback-light);
        --border: var(--border-light);
        --outline: var(--outline-light);
        --ratingwrapper: var(--ratingwrapper-light);
        --place: var(--place-light);
        --topbar: var(--topbar-light);
        --sync: var(--sync-light);
        --homebar: var(--homebar-light);
    }
}
[color-scheme="light"] {
    --box-shadow: var(--box-shadow-light);
    --box-shadow-heavy: var(--box-shadow-heavy-light);
    --text: var(--text-light);
    --webback:  var(--webback-light);
    --primarybutton: var(--primarybutton-light);
    --secondarybutton: var(--secondarybutton-light);
    --pageback: var(--pageback-light);
    --reviewback: var(--reviewback-light);
    --border: var(--border-light);
    --outline: var(--outline-light);
    --topbar: var(--topbar-light);
    --sync: var(--sync-light);
    --homebar: var(--homebar-light);
    --place: var(--place-light);
}

[color-scheme="dark"]{
    --box-shadow: var(--box-shadow-dark);
    --box-shadow-heavy: var(--box-shadow-heavy-dark);
    --text: var(--text-dark);
    --webback:  var(--webback-dark);
    --primarybutton: var(--primarybutton-dark);
    --secondarybutton: var(--secondarybutton-dark);
    --pageback: var(--pageback-dark);
    --reviewback: var(--reviewback-dark);
    --border: var(--border-dark);
    --outline: var(--outline-dark);
    --ratingwrapper: var(--ratingwrapper-dark);
    --place: var(--place-dark);
    --topbar: var(--topbar-dark);
    --sync: var(--sync-dark);
    --homebar: var(--homebar-dark);
}




body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

code, .mono {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Text styling */
    body {
        font-family: 'Switzer-Regular';
        line-height: 1.1;
        color: var(--text);
    }
    p, span {
        font-size: 13px;
    }
    h1{
        font-family: 'Switzer-Semibold';
        font-size: 21px;
        margin-bottom: 2px;
    }
    h2{
        font-family: 'Switzer-Semibold';
        font-size: 15px;
        margin-bottom: 12px;
        padding-top: 10px;
        margin-left: 2px;
    }
    h3{
        font-family: 'Switzer-Semibold';
        font-size: 13px;
        margin-bottom: 6px;
    }

/* Reusable styles */
body{
	background-color:var(--webback);
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.frame {
    width: 282px;
    height: 583px;
    position: relative;
    overflow: hidden;
    border-radius: 55px;
}
.iphone {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0px;
    pointer-events: none;
}
.scrollable-div {
  background-color: #f1f1f1;
  height: 150px;
  overflow: auto;
  margin: 20px;
  text-align: justify;
  padding: 20px;
}
.center-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    padding: 8px 12px;
}

button.primary, button.secondary {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    transition: border-color 1s;
    background-color: var(--primarybutton);
    transition-timing-function: ease-out;
    border-radius: var(--br-large);
    font-size: 13px;
    font-family: 'Switzer-Medium';
}
button.primary:disabled, button.secondary:disabled {
    opacity: 0.5;
}
button.secondary {
    background-color: var(--secondarybutton);
}
button.invalid {
    border: 1px solid red;
}
button.actionable {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 0 0 7px 0;
}
button.actionable span {
    font-size: 10px;
}
button.img-wrapper, button.icon-wrapper {
	margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 300px;
    overflow: hidden;
    width: 22px;
    height: 22px;
}
.profile-img {
    width: 100%;
    height: 100%;
}
.profile-icon {
    width: 22px;
    height: 22px;
    color: var(--text);
}
button.icon-wrapper {
    padding: 0;
    background-color: transparent;
    margin-bottom: 4px;
}
.back-icon {
    width: 18px;
    height: 18px;
    margin-top: 4px;
}
button.new-review {
	right: 30px;
	bottom: 65px;
	position: absolute;
	width: 40px;
    height: 40px;
    background-color: var(--place);
    box-shadow: var(--box-shadow-heavy);
	font-size: 22px;
	border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-wrapper {
	background-color: var(--place);
    padding: 13px 15px;
    width: calc(100% - 30px);
    min-height: 20px;
    border-radius: var(--br-large);
    box-shadow: var(--box-shadow);
}
.fullwidth-component {
    margin: 20px 0 20px 0;
}
.divider {
    width: 100%;
    height: 1.5px;
    background-color: var(--border);
    margin: 20px 0 20px 0;
}
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100 !important;
}
.sticky-bottom {
    position: sticky;
    bottom: 0;
}
.gesture-section {
    width: 100%;
    height: 44px;
	border-top: 1.5px solid var(--border);
    background-color: var(--pageback);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gesture-bar{
    width: 40%;
    height: 3px;
    background-color: var(--boder);
    border-radius: 1.5px;
    margin-bottom: 25px;
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.page {
    background: var(--pageback) ;
    background: linear-gradient(180deg, var(--topbar) 20%, var(--pageback) 100%);
    border-radius: 65px;
    height: calc(100% - 44px);
    overflow-y: scroll;
    padding: 0 30px 44px 30px;
}

.no-border {
	border: none;
}
.blur {
    filter: none;
}

/* ---------- */
/* Components */
/* ---------- */

/* FoodSearch */
.data-wrapper.search {
    padding: 0;
    width: 100%;
    overflow: hidden;

}
.results-padding {
    padding: 0px 14px 10px 14px;
}
.results-wrapper {
    background-color: var(--place);
    margin: 4px 0 4px 0;
    width: calc(100% - 24px);
    min-height: 20px;
    max-height: 140px;
    overflow-y: scroll;
}
.result {
    margin-bottom: 7px;
}
.results-wrapper:last-child {
    margin: 0;
}
.search-wrapper {
    display: flex;
    border-radius: 2px;
    padding: 10px 14px;
    overflow: hidden;
    background-color: var(--place);
}
.searchbar {
    border: none;
    background-color: transparent;
    color: var(--text);
}
.searchbar:focus {
    outline: none;
}
.search-icon {
    margin-top: 1px;
    margin-right: 8px;
    width: 11px;
    opacity: 0.4;
}

/* DiningHallList */
.grid-3 button {
    height: 1fr;
    width: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--reviewback);
    border-radius: var(--br-large);
    transition: background-color 0.1s;
    padding: 7px;
}
.grid-3 button:hover {
    background-color: var(--border);
}
.dininghall-logo {
    width: 100%;
}

/* HallStats */
.hallstat-rating-wrapper {
    margin-top: 5px;
    padding: 5px 10px;
}
/* Recommendations */
.food-rec {
    display: inline;
}
.rec-container {
    margin-bottom: 7px;
}
.rec-container:last-child {
    margin-bottom: 2px;
}
.rec-location {
    display: inline;
    font-family: 'Switzer-Medium';
}

/* Menu */
.menu-section {
    margin-bottom: 10px;
}
.nomargin {
    margin: 0 !important;
}
.topslim {
    margin: 10px 0 0 0 !important;
}

/* UserStats */
.stat {
    margin-bottom: 3px;
}
.stats-wrapper:last-child {
    margin: 0px;
}

/* ReviewList */

 .review {
    background-color: var(--reviewback);
    margin-top: 15px;
    width: calc(100% - 24px);
    padding: 8px 12px;
    display:flex;
    border-radius: 10px;
}
.review > div {
    width: 100%;
}
.review-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.review-footer {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.rating-wrapper {
    display: flex;
    align-items: center;
}
.count-text {
    font-size: 13px;
    margin: 0 3px 0 3px;
}
.filter-wrapper {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.filter-wrapper > .sort {
    background-color: transparent;
    padding: 0.5px;
    border-radius: 2px;
    width: 22px;
    margin: 0;
    margin-right: 3px;
}
.sort-icon {
    margin-top: 1px;
    margin-bottom: -1px;
    color: var(--text);
}
.filter {
    font-size: 13px;
    padding: 0px;
    
}
.Dropdown-control {
    cursor: pointer !important;
}
.Dropdown-control, .Dropdown-option {
    padding: 3px 20px 3px 0px !important;
    color: var(--text) !important;
    font-family: 'Switzer-Medium' !important;
    border: none !important;
    font-size: 13px !important;
    background-color: var(--place) !important;
    transition: none;
}
.Dropdown-option {
    padding: 3px 5px 3px 5px !important;
}
.Dropdown-control:hover, .Dropdown-option:hover {
    box-shadow: none !important;;
}
.Dropdown-option:hover {
    background-color: var(--border) !important;
}
.Dropdown-option.is-selected {
    background-color: var(--border) !important;
}
.Dropdown-arrow {
    top: 9px !important;
    right: 7px !important;
    border-width: 4px 4px 0 !important;
    color: var(--text) !important;
}
.Dropdown-menu {
    border-radius: 5px !important;
    box-shadow: none !important;
    background-color: var(--place) !important;
    /* padding: 3px 5px 3px 5px !important; */
}
.is-open .Dropdown-arrow {
    border-color: transparent transparent var(--outline) !important;
    border-width: 0 4px 4px !important;
}

/* LikeButton */
.like-button {
    padding: 0;
    background-color: transparent;
}
.like-button > .fill {
    color: var(--like-button);
}
.like-button > .stroke {
    color: var(--outline);
}
.like-wrapper {
    display: flex;
    margin-top: -2px;
    align-items: center;
}

/* StarRating */
.star {
    height: 20px;
    width: 20px;
    color: var(--star-rating);
}
.outline {
    color: var(--outline);
}
.star-container {
    display: flex;
    justify-content: space-between;
}
.review-rating-wrapper {
    background-color: var(--reviewback);
    border-radius: var(--br-large);
    padding: 8px 20px 8px 20px;
    width: calc(100% - 40px);
}

/* SyncModal */
.sync-modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--sync);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sync-modal {
    z-index: 10010;
}
.puff {
    color: red !important;
}
.prog-container {
    margin-top: 5px;
    background-color: var(--webback);
    width: 100px;
    height: 3px;
}
.prog-bar {
    background-color: var(--text);
    height: 100%;
}

/* Dropdown */
.Dropdown-disabled {
    opacity: 0.5;
}

/* ---------- */
/* Pages      */
/* ---------- */

/* SignInPage */
.gesture-section.signin {
    background-color: white;
}
.signin-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 70px;
	height: calc(100% - 125px);
    background: linear-gradient(180deg, #e4dede 50%, white 70%);
    background-color: white;
}
.logo-wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: -5px;
}
.logo {
    width: 100%;
    height: 100%;
}

/* HomePage */
.home-hero {
    display: flex;
    justify-content: space-between;
	padding: 55px 20px 7px 20px;
	margin: 0 -20px 0 -20px;
	align-items: flex-end;
    background: var(--homebar);
}


/* ProfilePage */
.back-hero {
    display: flex;
	padding: 55px 20px 7px 20px;
	margin: 0 -20px 0 -20px;
	align-items: flex-end;
    background: var(--topbar);
}

.back-hero h1 {
	margin-left: 3px;
}

/* NewReviewPage */
.form-section {
    margin: 10px 0 15px 0;
}
.review-form {
    position: relative;
    height: calc(100% - 135px);
}

.review-form button {
    position: absolute;
    bottom: 0;
    margin: 0;
}

/* MenuPage */
.menu-wrapper {
    padding: 0 5px 15px 5px;;
}
.menu-item {
    margin: 8px 0;
}
.themebtn{
    display: flex;
    justify-content: center;    
    justify-items: center;
    font-size: 12px;
    border-radius: 10px;
}
