:root{
--text-light: black;
--webback-light: white;
--buttonback-light: lightgrey;
--pageback-light: white ;
--reviewback-light: lightgrey;
--phonebar-light: black;
--ratingwrapper-light: lightgrey;
--place-light: lightgrey;
--topbar-light:white;
--sync-light: rgba(255, 255, 255, 0.8);
--homebar-light: white;

--text-dark: white;
--webback-dark: black;
--buttonback-dark: rgb(50, 62, 66);
--pageback-dark: black;
--reviewback-dark: rgb(50, 62, 66);
--phonebar-dark: white;
--ratingwrapper-dark:black;
--place-dark:rgb(50, 62, 66);
--topbar-dark: black;
--sync-dark: rgba(0, 0, 0, 0.8);;
--homebar-dark:black;
}

@media(prefers-color-scheme: dark){
    :root{
        --text: var(--text-dark);
        --webback:  var(--webback-dark);
        --buttonback: var(--buttonback-dark);
        --pageback: var(--pageback-dark);
        --reviewback: var(--reviewback-dark);
        --phonebar: var(--phonebar-dark);
        --ratingwrapper: var(--ratingwrapper-dark);
        --place: var(--place-dark);
        --topbar: var(--topbar-dark);
        --sync: var(--sync-dark);
        --homebar: var(--homebar-dark);
        }
} 
@media(prefers-color-scheme: light){
    :root{
        --text: var(--text-light);
        --webback:  var(--webback-light);
        --buttonback: var(--buttonback-light);
        --pageback: var(--pageback-light);
        --reviewback: var(--reviewback-light);
        --phonebar: var(--phonebar-light);
        --ratingwrapper: var(--ratingwrapper-light);
        --place: var(--place-light);
        --topbar: var(--topbar-light);
        --sync: var(--sync-light);
        --homebar: var(--homebar-light);
    }
}
[color-scheme="light"] {
    --text: var(--text-light);
    --webback:  var(--webback-light);
    --buttonback: var(--buttonback-light);
    --pageback: var(--pageback-light);
    --reviewback: var(--reviewback-light);
    --phonebar: var(--phonebar-light);
    --topbar: var(--topbar-light);
    --sync: var(--sync-light);
    --homebar: var(--homebar-light);
    --place: var(--place-light);
}

[color-scheme="dark"]{
    --text: var(--text-dark);
    --webback:  var(--webback-dark);
    --buttonback: var(--buttonback-dark);
    --pageback: var(--pageback-dark);
    --reviewback: var(--reviewback-dark);
    --phonebar: var(--phonebar-dark);
    --ratingwrapper: var(--ratingwrapper-dark);
    --place: var(--place-dark);
    --topbar: var(--topbar-dark);
    --sync: var(--sync-dark);
    --homebar: var(--homebar-dark);
}




body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

code, .mono {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Text styling */
    body {
        font-family: 'Switzer-Regular';
        line-height: 1.1;
        color: var(--text);
    }
    p, span {
        font-size: 14px;
    }
    h1{
        font-family: 'Switzer-Bold';
        font-size: 23px;
        margin-bottom: 0;
    }
    h2{
        font-family: 'Switzer-Bold';
        font-size: 18px;
        margin-bottom: 8px;
        margin-left: 2px;
    }
    h3{
        font-family: 'Switzer-Bold';
        font-size: 14px;
        margin-bottom: 6px;
    }

/* Reusable styles */
body{
	background-color:var(--webback);
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.frame {
    width: 282px;
    height: 583px;
    position: relative;
    overflow: hidden;
    border-radius: 55px;
}
.iphone {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0px;
    pointer-events: none;
}
.center-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    background-color:var(--buttonback);
    padding: 8px 12px;
}

button.primary, button.secondary{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--buttonback);
    transition: border-color 1s;
    transition-timing-function: ease-out;
}
button.invalid {
    border: 1px solid red;
}
button.actionable {
    height: 30px;
    background-color: var(--buttonback);
    display: flex;
    align-items: center;
    justify-content: center;
	margin: 0 0 7px 0;
}
button.actionable span {
    font-size: 10px;
}
button.icon-wrapper {
	margin: 0;
    padding: 0;
    background-color: transparent;
}
.profile-icon {
    width: 22px;
    height: 22px;
}
.back-icon {
    width: 18px;
    height: 18px;
    margin-top: 4px;
}
button.new-review {
	right: 30px;
	bottom: 65px;
	position: absolute;
	width: 40px;
    height: 40px;
    background-color: var(--buttonback);
	border: 1.5px solid var(--phonebar);
	font-size: 22px;
	border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data-placeholder {
	background-color: var(--place);
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.fullwidth-component {
    margin: 20px 0 20px 0;
}
.divider {
    width: 100%;
    height: 1.5px;
    background-color: var(--phonebar);
    margin: 20px 0 20px 0;
}
.sticky-top {
    position: sticky;
    top: 0;
}
.sticky-bottom {
    position: sticky;
    bottom: 0;
}
.gesture-section {
    width: 100%;
    height: 44px;
	border-top: 1.5px solid var(--phonebar);
    background-color: var(--pageback);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gesture-bar{
    width: 40%;
    height: 3px;
    background-color: var(--phonebar);
    border-radius: 1.5px;
    margin-bottom: 25px;
}

.space-between {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.page {
    background-color: var(--pageback) ;
    border-radius: 65px;
    height: calc(100% - 44px);
    overflow-y: scroll;
    padding: 0 30px 44px 30px;
}

.no-border {
	border: none;
}
.blur {
    filter: none;
}

/* ---------- */
/* Components */
/* ---------- */

/* DiningHallList */
.grid-3 button {
    height: 60px;
    width: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 5px;
}
.dininghall-logo {
    width: 100%;
}

/* Recommendations */

/* ReviewList */

 .review {
    background-color: var(--reviewback);
    margin-top: 15px;
    width: calc(100% - 24px);
    padding: 8px 12px;
    display:flex;
    border-radius: 10px;
}

.review > div {
    width: 100%;
}
.review-footer {
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.rating-wrapper {
    display: flex;
    align-items: center;
}
.count-text {
    font-size: 13px;
    margin: 0 3px 0 3px;
}

/* LikeButton */
.like-button {
    padding: 0;
    background-color: var(--reviewback);
}
.like-button > .fill {
    color: rgb(210, 46, 84);
}
.like-wrapper {
    display: flex;
    align-items: center;
}

/* StarRating */
.star {
    height: 20px;
    width: 20px;
}
.star-container {
    display: flex;
    justify-content: space-between;
}
.review-rating-wrapper {
    background-color: var(--reviewback);
    padding: 8px 20px 8px 20px;
    width: calc(100% - 40px);
}

/* SyncModal */
.sync-modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--sync);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sync-modal {
    z-index: 10010;
}
.prog-container {
    margin-top: 5px;
    background-color: white;
    width: 100px;
    height: 3px;
}
.prog-bar {
    background-color: white;
    height: 100%;
}

/* Dropdown */
.Dropdown-disabled {
    opacity: 0.5;
}

/* ---------- */
/* Pages      */
/* ---------- */

/* SignInPage */
.signin-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	padding-top: 100px;
	padding-bottom: 70px;
	height: calc(100% - 185px);
}
.logo {
    width: 80px;
    height: 80px;
    background-color: lightgrey;
    margin-bottom: 15px;
}

/* HomePage */
.home-hero {
    display: flex;
    justify-content: space-between;
	padding: 55px 20px 7px 20px;
	margin: 0 -20px 0 -20px;
	align-items: flex-end;
    background: var(--homebar);
    border-bottom: 1.5px solid var(--phonebar);
}
.filter {
    font-size: 13px;
    margin-bottom: 10px;
    padding: 0px;
}
.Dropdown-control, .Dropdown-option {
    padding: 3px 20px 3px 5px !important;
}
.Dropdown-arrow {
    top: 9px !important;
    right: 7px !important;
    border-width: 4px 4px 0 !important;
}
.is-open .Dropdown-arrow {
    border-color: transparent transparent #999 !important;
    border-width: 0 4px 4px !important;
}

/* ProfilePage */
.back-hero {
    display: flex;
	padding: 55px 20px 7px 20px;
	margin: 0 -20px 0 -20px;
	align-items: flex-end;
    background: var(--topbar);
    border-bottom: 1.5px solid var(--phonebar);
}

.back-hero h1 {
	margin-left: 3px;
}

/* NewReviewPage */
.form-section {
    margin: 10px 0 15px 0;
}
.review-form {
    position: relative;
    height: calc(100% - 135px);
}

.review-form button {
    position: absolute;
    bottom: 0;
    margin: 0;
}

/* MenuPage */
.menu-item {
    margin-top: 10px;
    margin-left: 5px;
}
.themebtn{
    display: flex;
    justify-content: center;    
    justify-items: center;
}
